<header>
  <div class="contenedor-header">
    <div class="logo-titulo">
      <div class="imagen-contenedor">
        
        <img class="imagen-logo" src="{{ logoPath }}" alt="Logo SaludPlus">
      </div>
      <div class="texto-header">
        <h1>SaludPlus</h1>
        <p>Nos preocupamos de tu Salud</p>
      </div>
    </div>

    <div class="usuario-header">
      <div class="usuario-info">
        <span class="icono-usuario">👤</span>
        
        <span class="nombre-usuario">{{ nombreUsuario }}</span>
      </div>
      
      <button class="btn-salir" (click)="cerrarSesion()">Salir</button>
    </div>
  </div>
</header>
